<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!-- namespace:命名空间，值对应的是DAO层接口 -->
    <mapper namespace="com.it.zyx.dao.OrderDetailDao">
<insert id="insertDetails" parameterType="OrderDetail">
    insert into orderdetail(oid,mid,number) values(#{oid},#{mid},#{number})
</insert>
    <select id="findOrderDetailByOid" resultType="OrderDetail">
        select * from orderdetail where oid=#{oid}
    </select>
    </mapper>
